* {
  margin: 0;
  padding: 0;
  max-height: 100vh; /* this keeps the screen to screen-size, no scrolling */
  overflow: none; 
  }

body {
  border: 5%;
  background-image: linear-gradient(to right, rgb(241, 241, 225), #00d4ff);
  display: flex; 
  flex-wrap: wrap;
  overflow: hidden; /* prevents the page from being scrollable */
  /* justify-content: space-evenly; */
  min-width:380px
}

nav {
height: 100vh;
width: 20vw;
}

main {
  height: 100vh;
  width: 70vw;
}

div {
  float: left;
}

#hovertext {

  font-size: 12px;
  text-align: center;
  }

#FakeButton {
margin: 1vw; 
  height: 60px;
  width: 15vw;
  min-width: 100px;
  background-color: rgb(42, 216, 201);
  text-align: center;
  border-radius: 0%;
  position: absolute; /* no longer constrained to its relative container - can position anywhere within container*/
  top: 0px;
  left: 0px;
}



.TopPanel {
  height: 110px;
  width: 70vw;
  display: flex; 
  flex-wrap: wrap;
}

.TopPanel #Topform{
  /* height: 30vh; 
  width: 45vw;  */
}

#Topform h1 {
  height: 30px;
  color: rgb(37, 24, 153); 
  margin-top: 2vh; 
  margin-left: 1vw;
}

#Topform form {
  /* height: 17vh; */
  color: rgb(37, 24, 153); 
  font-size: 20px;
  margin-left: 1vw;
  }


#TripInfo {
  height: 50px; 
  margin-top: 1vh;
  color: rgb(37, 24, 153); 
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  position: sticky;
 }

/* .TopPanel #TripInfo img {
  background-size: cover;
  height: 150vh; 
  width: 50vw; 
  opacity: 90%;
  box-shadow: 3px 3px 8px 8px #43afc5;
} */



main .MainText{
  width: 70vw;
  margin: 2vh; 
  }



.globe{
  margin: 1vw; 
  margin-top: 10vh;
  width: 15vw;
  min-width: 100px;
  border: none;
  }


.panel {
margin-left: 2vw;
margin-top: 0vh;

}

.panel button{
  height: 7vh; 
  width: 14vw; 
  min-width: 100px;
  font-size: 12px;
  background-color: rgb(242, 243, 222);
  padding: 1px rgb(8, 11, 236);
  text-align: center;
  /* border-radius: 40%; */
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}



.panel button:hover {
  background-color: rgb(89, 48, 238); 
}

/*
I have initially set it up with a class tooltip within HTML, but the below text was appearing next to the button rather than below. 
.tooltip {
  position: relative;
  display: inline-block;

  }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(22, 233, 110);
  color: rgb(66, 66, 199);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/



.MainText img{
  width: 95%;
  margin-top: 2vh; 

}



@media screen and (min-width:380px) and (max-width:599px) {


  .TopPanel {
    margin-left: 40px;
  }

  main .MainText{
    margin-left: 40px;
    }
  
    #Topform h1 {
    font-size: x-large;
    height: 5vh;
    }

    #TripInfo {
      font-size: 20px;
     }
    
     #Topform form {
      font-size: 18px;
      }
    

}